<div id="intro">
    <div class="row">
        <div class="large-6 medium-6 columns">
            <h3 class="color-white" >Connecting Entrepreneurs and Mentors With Food </h3>
            <h6 class="color-white" id="white" style="line-height: 27px;"> Who doesn't love a free lunch? Lunch meetings connects budding entrepenurs with expreienced advisors over a casual lunch date</h6>
        </div>
        <div class="large-6 medium-6 columns">
            <!-- <div id="sign-in">
                <h3 class="color-pink">Sign In</h3>
                <hr />
                <label>Username</label>
                <input id="Text1" type="text" />
                <label>Password</label>
                <input id="Text2" type="text" />
                <button class="blue-btn">Sign Up</button>
            </div> -->
            <div id="sign-in">
                      <form action="/session" method="post">
                            <label id="white">email
                              <input type="text" name="email">
                            </label >
                            <label id="white">password
                              <input type="password" name="password"
                            </label>
                        <button class="button" id="signBtn">login</button>
                      </form>

            <!-- <form action="/sign-up">
              <button class="button" id="signBtn">register</button>
            </form> -->

          </div>
          <a href="/sign-up"><button class="button">Register</button></a>

        </div>
      </div>
    </div>


    <div id="why">

        <div class="row">
            <div class="large-12 columns">
                <h2 class="text-center color-pink headings">How It Works</h2>
            </div>
            <div class="large-4 columns" style="padding: 0px;">
                <div class="why-item border-right border-bottom">
                    <div class="glyph-icon flaticon-book53"></div>
                    <h4> Get Advice Over Lunch</h4>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                    </div>
                </div>
            </div>
            <div class="large-4 columns" style="padding: 0px;">
                <div class="why-item  border-right border-bottom">
                    <div class="glyph-icon flaticon-boat5"></div>
                    <h4>Connect With Others</h4>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                    </div>
                </div>
            </div>
            <div class="large-4 columns" style="padding: 0px;">
                <div class="why-item border-bottom ">
                    <div class="glyph-icon flaticon-battery45"></div>
                    <h4>Support Local Business</h4>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                    </div>
                </div>
            </div>

        </div>
    </div>



<div id="lunches">
  <h2> Current Lunches Available </h2>
<div class="row">
<div class="large-12">
  <table>
    <thead>
      <tr>
        <th>City</th>
          <th>Date</th>
          <th>Restaurant</th>
          <th>User Name</th>
          <th>Skill</th>
        <th width=""></th>
      </tr>
    </thead>
    <% @lunches.each do |x| %>
    <tbody>
      <tr>
        <td><%=x.city%></td>
        <td><%=x.lunchdate%></td>
        <td><%=x.location %></td>
        <td><%=@users.find(x.user_id).name %></td>
        <td><%=@users.find(x.user_id).skills %></td>
        <form action="/book/<%= x.id %>" method="post">
          <input type="hidden" value="post" name="lunchid">
        <td>  <button class="button">Book Lunch</button>
        </form>
  </td>

      </tr>
    </tbody>
   <%end%>

    </tbody>
  </table>

</div>
</div>
</div>
