
<div id="lunches">
<table class="responsive" >
  <thead>
    <form action="/lunches?date=<%=params[:date]%>">
      <label>Search By Date
        <input type="date" name='date'>
      </label>
      <button class="button">Search</button>
    </form>
    <tr>
      <th>City</th>
        <th>Date</th>
        <th>Restaurant</th>
        <th>User Name</th>
        <th>Skill</th>
        <th> <a href="/lunches/new" class="button" id="addBtn"> Add A Lunch </a> </th>
      <th width=""></th>
    </tr>
  </thead>
  <% @lunches.each do |x| %>
  <tbody>
    <tr>
      <td><%=x.city%></td>
      <td><%=x.lunchdate%></td>
      <td><%=x.location %></td>
      <td><%=@users.find(x.user_id).name %></td>
      <td><%=@users.find(x.user_id).skills %></td>
      <td><a href="/lunches/<%=x.id%>"class="button">View Details</a></td>

</td>

    </tr>
  </tbody>
 <%end%>

  </tbody>
</table>
</div>
