<div id="user-tabs">
<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Your Profile</a></li>
  <li class="tabs-title"><a href="#panel2">Your Current Bookings</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <!--Edit Profile start here  -->

    <form action="/users/<%=@user.id%>" method="post">
    <input type="hidden" value="patch" name="_method">
      <label for"">name</label>
      <input type="text" name="name" value="<%= @user.name%>">

      <label>
      Tell us About Yourself
      <textarea name="desc"><%= @user.description %></textarea>
      </label>

    <button class="button">Update User</button>

    </form>
  </div>


  <div class="tabs-panel" id="panel2">

<!--Booking Info start here  -->
    <a href="/lunches/new" class="button" id="AddUsr"> Add A Lunch </a>

    <h3> Upcoming Bookings </h3>
    <table class="responsive">
      <thead>
        <tr>
          <th>City</th>
            <th>Date</th>

            <th>Restaurant</th>
            <th>Lunching With</th>
            <th>Skill</th>
          <th width=""></th>
        </tr>
      </thead>
      <% if @lunch_display_booked %>
      <%  @lunch_display_booked.each do |x| %>
      <tbody>
        <tr>
          <td><%=x.city%></td>
          <td><%=x.lunchdate%></td>
          <td><%=x.location %></td>
          <td><%=@users.find(x.user_id).name %></td>
          <td><%=@users.find(x.user_id).skills %></td>
          <td> <a href="/lunch/<%=x.id%>/messages" class="button"> Messages </a> <div class="badge" id="messageCount"> <%= Message.where(receiverid: current_user.id.to_s).where(meetingid: x.id).where(readstatus: FALSE).count %> </div> 


         </td>

        </tr>
      </tbody>
<%end%>
<%end%>

      </tbody>
    </table>

    <h3> Open Bookings </h3>
    <table class="responsive">
      <thead>
        <tr>
          <th>City</th>
            <th>Date</th>

            <th>Restaurant</th>
            <th>Lunching With</th>
            <th>Skill</th>
          <th width=""></th>
        </tr>
      </thead>
      <% if @lunch_display_open %>

      <%  @lunch_display_open.each do |x| %>
      <tbody>
        <tr>
          <td><%=x.city%></td>
          <td><%=x.lunchdate%></td>
          <td><%=x.location %></td>
          <td><%=@users.find(x.user_id).name %></td>
          <td><%=@users.find(x.user_id).skills %></td>

        </tr>
      </tbody>
     <%end%>
     <%end%>

      </tbody>
    </table>


<!-- Past Bookings -->


    <h3> Past Bookings </h3>
    <table class="responsive">
      <thead>
        <tr>
          <th>City</th>
            <th>Date</th>

            <th>Restaurant</th>
            <th>Lunching With</th>
            <th>Skill</th>
          <th width=""></th>
        </tr>
      </thead>
      <% if @lunch_display_past %>

      <%  @lunch_display_past.each do |x| %>
      <tbody>
        <tr>
          <td><%=x.city%></td>
          <td><%=x.lunchdate%></td>
          <td><%=x.location %></td>
          <td><%=@users.find(x.user_id).name %></td>
          <td><%=@users.find(x.user_id).skills %></td>
    </td>
        </tr>
      </tbody>
     <%end%>
     <%end%>


      </tbody>
    </table>
  </div>
</div>
</div>
